*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrito-vacio{
    color: gray;
    font-size: 2rem;
    margin: 30vh 0;
    text-align: center;
}

.margen-grande{
    margin: 30vh 0;
}
.margen-chico{
    margin: 10vh 0;
}

.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.fondo {
    background-color: #ffe7dd;
}

.last-index {
    z-index: -1;
}

.padding-top {
    padding-top: 50px;
}

.margen {
    margin: 20px;
}

.ventana-centro {
    margin: 20px auto;
    width: 60%;
    min-width: 500px;
    max-width: 800px;
    padding: 15px;
    background-color: white;
    border-radius: 30px;
    z-index: -1;
}

.title {
    background-image: linear-gradient(to bottom right, #000000, #472c09);
    color: #d44326;
    text-align: center;
    min-width: 500px;
    padding: 1px;
}

/* .icon-align { vertical-align:-118% } */

.nav-menu {
    display: flex;
    justify-content: space-around;
    background-color: #aea2a2;
    min-width: 500px;
    padding: 10px;
}

.no-deco-link {
    text-decoration: none;
    color: black;
}

.no-deco-link:hover {
    text-decoration: none;
    color:#a33019;
}


.nav-opc-on {
    background-color:#8c8383;
}

.nav-opc-off,.nav-opc-on {
    text-decoration: none;
    padding: 11px 20px;
    color: black;
    font-size: 18px;
}

.nav-opc-off:hover {
    color:#a33019;
}

.nav-opc-on:hover {
    color:royalblue;
}


.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.heading {
    font-size: 3rem;
    margin: 2vh auto;
    width: 60%;
    min-width: 500px;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 10px 10px;
    grid-auto-flow: dense;
    margin: 20px;
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.container-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.list-footer {
    list-style: none;
    text-align: start;
    margin: 10px 1vw;
}

.list-item-footer {
    margin-bottom: 20px;
    line-height: 18px;
}

form {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
    padding: 30px;
}

form h3,input,textarea {
    width: 100%;
    font-size: 2vw;
    font-family: inherit;
}

form textarea {
    resize: none;
    height: 50vh;
    font-weight: lighter;
}

form input {
    height: 4vw;
}

form h3 {
    margin-bottom: 5px;
}

@media only screen and (max-width:600px) {
    form h3,input,textarea {font-size: 12px;}
    form input {min-height: 18px;}
}

@media only screen and (max-width: 768px) {
    .nav-menu,.footer-flex { flex-direction: column; }
    .nav-opc-off,.nav-opc-on { display:block; }
    .list-footer {margin: 15px;}
    .sticky { position: static; }
    .container-grid { grid-template-columns: 1fr; }
}

@media only screen and (min-width:1200px) {
    form h3,input,textarea {font-size: 24px;}
    form input {max-height: 48px;}
    .container-grid { grid-template-columns: repeat(3, 1fr); }
}

